<div class='background-image'>

<% @cocktails.each do |cocktail| %>
<h3><%= cocktail.name%> <%= link_to 'show cocktail', cocktail_path(cocktail) %></h3><br>

<% end %>

<%= link_to '+Add a new cocktail', new_cocktail_path %>

</div>
