<div class='background-image'>

<% @cocktails.each do |cocktail| %>
<h3><%= cocktail.name%> <%= link_to 'show cocktail', cocktail_path(cocktail) %></h3><br>
<%= cl_image_tag cocktail.photo.key, height: 300, with:400, crop: :fill %>
<% end %>

<%= link_to '+Add a new cocktail', new_cocktail_path %>

</div>
